.columbia-article-howto #mt-toc-container, .columbia-article-reference #mt-toc-container, .columbia-article-topic #mt-toc-container {
    display: block;
}

.mt-content-container #mt-toc-container {
    position: fixed;
    right: 10px;
    top: 10px;
}
#mt-toc-container {
    position: sticky;
    right: 0;
    top: 120px;
    background-color: var(--background-light-blue-2);
    max-height: 70vh;
    overflow: auto;
}
@media (min-width: 37.5em) {
    #mt-toc-container {
        float: right;
        margin-left: 1em;
        max-width: 30%;
    }
}
@media (min-width: 18.75em) {
    #mt-toc-container {
        clear: both;
        margin: 0 0 1em;
    }
}
#mt-toc-container {
    background: #bababa;
    border: 1px solid #a8a8a8;
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: .25em;
    margin: 0 0 .5em;
    padding: .5rem .75em;
    position: relative;
    z-index: 1;
}
#mt-toc-container, .columbia-page-template.columbia-article-howto #mt-toc-container, .columbia-page-template.columbia-article-reference #mt-toc-container, .columbia-page-template.columbia-article-topic #mt-toc-container {
    display: none;
}
.mt-toggle-container {
    background-color: var(--background-light-blue);
}
.mt-toggle-container {
    background: #bababa;
    border: 1px solid #a8a8a8;
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: .25em;
    clear: both;
    margin: 0 0 1em;
    overflow: hidden;
    padding: .5em .8em .8em;
}
* {
    color: var(--primary-black);
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.mt-content-container {
    word-wrap: break-word;
}
@media (min-width: 65.25em) {
    body {
        font-size: 90%;
    }
}
@media (min-width: 50em) {
    body {
        font-size: 90%;
    }
}
@media (min-width: 37.5em) {
    body {
        font-size: 90%;
    }
}
@media (min-width: 25em) {
    body {
        font-size: 90%;
    }
}
@media (min-width: 18.75em) {
    body {
        font-size: 90%;
    }
}
body {
    background: #fff;
    color: #000;
    font: normal 100% / 1.2 'Nunito Sans', sans-serif;
    height: auto;
}