var uri = site.api & 'pages/popular' & { limit: 10 };
var api = wiki.api(uri);

<div class="widget-popular">
    <ul>
    foreach(var pg in api['page'] ) {
        <li>
            web.link(pg / 'uri.ui', pg / 'title');
            var viewcount = num.cast(pg / 'metrics/metric.views');
            <span class="viewcount">
                " (";
                num.format(viewcount,"###,###,###");
                " views)";
            </span>
        </li>
    }
    </ul>
</div>