/*Pro Member CSS*/
.EXPAND_COLLAPSE dt {
    border: 2px green solid !important;
    padding: 3px;
}

.EXPAND_COLLAPSE dd {
    border: 2px red solid;
    padding: 3px;
}

.EXPAND_COLLAPSE {
    border: 2px blue solid;
    padding: 5px !important;
}

#contenidoBuenosAires,
#contenidoCordoba,
#contenidoCuyo,
#contenidoMetropolitana,
#contenidoNEA,
#contenidoNOA,
#contenidoSur {
    border: 3px black solid;
    padding: 5px !important;
    margin: 5px !important;
}

/*********************************************************************************************************************/

/*Anonymous - Community - Pro Member CSS*/
.botonIrAListaResultados,
.mt-search-filters-classification-article,
.mt-search-filters-classification-propietario,
.mt-search-filters-classification-tipo-servicios-procedimiento,
.mt-search-filters-classification-tipo-basico {
    display: none;
}

/* Icono del menu perfil */
.mt-icon-user-menu::before,
.mt-icon-user-menu:focus::before,
.mt-icon-user-menu:active::before {
    color: white; 
}